@charset "UTF-8";
@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-150px); }
  80% {
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(150px); }
  80% {
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 1.5vw; }

.heading-tertiary {
  padding: 2% 10%;
  font-size: 1.5vw;
  font-weight: 700;
  line-break: 50px; }
  .heading-tertiary a {
    color: black; }

.section-online-list {
  padding: 1vh 0 0 20vh;
  color: white;
  font-size: 1vw;
  display: block; }

.section-background-list {
  padding: 1vh 0 0 20vh;
  color: white;
  font-size: 1vw;
  display: block; }
  .section-background-list:before {
    content: "• "; }

.designation {
  font-size: 1.2vw;
  font-weight: bold; }

.hire-me-text {
  font-size: 1.5vw;
  padding: 15vh;
  margin-top: -5vh; }
  .hire-me-text a {
    color: black; }

.footer-menu {
  font-weight: 600;
  font-size: 2vw; }

.u-center-text {
  text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(24, 23, 23, 0.918), rgba(15, 15, 15, 0.925)), url(../assets/header_background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header-heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header-heading-primary-main {
      display: block;
      font-size: 3vw;
      font-weight: 400;
      animation: moveFromLeft 1s ease-out; }
    .header-heading-primary-sub {
      display: block;
      font-size: 1.5vw;
      font-weight: 400;
      animation: moveFromRight 1s ease-out; }
  .header-arrow {
    height: 60px;
    animation: moveFromBottom 1s ease-out;
    margin-top: 25px; }
    .header-arrow:hover {
      transform: translateY(10px);
      height: 75px;
      margin-top: 25px;
      transition: all ease-out;
      transition-duration: 0.1s; }

.heading-secondary {
  font-size: 3vw;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(24, 23, 23, 0.918), rgba(15, 15, 15, 0.925));
  -webkit-background-clip: text;
  letter-spacing: .3rem;
  color: transparent; }

.logo {
  height: 30vh;
  border-radius: 100%;
  animation: moveFromTop 1s ease-out;
  pointer-events: none; }

.text-box {
  position: absolute;
  top: 47%;
  left: 50%; }

.section-about {
  background-color: #d3d6d6b0;
  padding: 15rem 0;
  margin-top: -15vh; }

.section-background {
  background-image: linear-gradient(to right bottom, rgba(24, 23, 23, 0.918), rgba(15, 15, 15, 0.925)), url(../../assets/section-online.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  margin-top: -20vh;
  position: relative;
  clip-path: polygon(0 15vh, 100% 0, 100% 75vh, 0 90vh); }

.section-background-text {
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6vh 0 0 20vh;
  letter-spacing: 0.3rem;
  color: white; }
  .section-background-text:first-child {
    padding: 25vh 20vh 0 20vh; }

.section-hireme {
  background-color: #d3d6d6b0;
  padding: 10rem 0 10rem 0;
  margin-top: -25vh; }

.section-footer {
  background-image: linear-gradient(to right bottom, rgba(24, 23, 23, 0.918), rgba(15, 15, 15, 0.925));
  height: 50vh;
  margin-top: -30vh;
  position: relative;
  clip-path: polygon(0 15vh, 100% 0, 100% 75vh, 0 90vh);
  text-align: center; }

.footer {
  padding: 20vh 10vh 0 10vh;
  color: white; }

.footer-links {
  font-size: 1vw;
  display: block;
  text-decoration: none;
  color: antiquewhite; }
