.heading-tertiary {
    padding: 2% 10%;
    font-size: 1.5vw;
    font-weight: 700;
    line-break: 50px;
    a {
        color: black;
    }
}

.section-online-list {
    padding: 1vh 0 0 20vh;
    color: white;
    font-size: 1vw;
    display: block;
}

.section-background-list {
    padding: 1vh 0 0 20vh;
    color: white;
    font-size: 1vw;
    display: block;
    &:before {
        content:"• ";
    }
}

.designation {
    font-size: 1.2vw;
    font-weight: bold
}

.hire-me-text {
    font-size: 1.5vw;
    padding: 10vh;

    & a {
        color: black;
    }
}

.footer-menu {
    font-weight: 600;
    font-size: 2vw;
}